@page
@model PiekShop.Pages.ContactModel
@{
    ViewData["Title"] = "Kontakt";
}
<h1>@ViewData["Title"]</h1>
<hr/>

<img src="~/img/jkow.jpg" width="200px"/>

<h3> Informacje kontaktowe </h3>
<p> Jan Kowalski </p>
<p> e-mail: j.kowalski@xyz.pl </p>

<h3> Błędy na stronie </h3>
<p> Web master </p>
<p> e-mail: webmaster@xyz.pl </p>

