@page
@model PiekShop.Pages.GalleryModel
@{
    ViewData["Title"] = "Galeria obrazów";
}
<h1>@ViewData["Title"]</h1>

@foreach (var item in Model.Bakery)
{
    <img src="@Url.Content(item.Image)" width="500">
}